* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  font-family: "Bebas Neue", sans-serif;
}

/* ---- RESPONSIVE ---- */

/* 1024px */

@media (max-width: 1024px) {
  .starlord {
    width: 250px;
    height: fit-content;
  }

  .spiderman {
    width: 250px;
    height: fit-content;
  }

  .ironman {
    width: 250px;
    height: 379px;
  }
}

/* 768px */

@media (max-width: 768px) {
  .starlord {
    display: none;
  }

  .spiderman {
    display: none;
  }

  .ironman {
    width: 320px;
    height: auto;
  }

  .logo {
    width: 120px;
  }

  .links {
    flex-direction: column;
    font-size: 18px;
  }

  .web {
    width: 50px;
  }

  .easterimg {
    width: 420px;
  }

  .loginbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .characterId-main {
    flex-direction: column;
  }

  .character-avatar {
    width: 300px;
  }

  .characterId-main p {
    text-align: center;
  }
}
